# Enable mod_rewrite
RewriteEngine On

# If the requested file or directory exists, do nothing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite requests without .php extension to .php files
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L,QSA]
